@media(max-width:983px){
    .outletchild2{
        height: 450px;
    }
}
@media(max-width:855px){
    .page6{
        height: 420px;
    }
    div.outletchild{
        height: 100px;
    }
    div.outletchild2{
        padding: 10px;
        height: 240px;
      
    }
}